<app-navbar></app-navbar>
<div class="container">
<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <br />
  <div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('View', $event.event)"      
    >
    </mwl-calendar-month-view>
  </div>

  <ng-template #modalContent let-close="close">
    <div *ngIf="modalData?.event.meta.isMeal">
    <div class="modal-header">
      <h5 class="modal-title">{{ modalData?.event.title }}</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="{{modalData?.event.meta.image}}" alt="">
      </div>
      <div>
        <p class="card-text" [innerHTML]="modalData?.event.meta.instructions"></p>
      </div>
      <div>
        <a href="{{modalData?.event.meta.url}}" target="blank">Details</a>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </div>
  <div *ngIf="!modalData?.event.meta.isMeal">
    <div class="modal-header">
      <h5 class="modal-title">{{ modalData?.event.title }}</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <ul>
          <li *ngFor="let i of modalData?.event.meta.ingredients">{{i.name}} - {{i.totalAmount}}{{i.unit}}</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </div>
  </ng-template>
</div>